.dtable-plugin.calendar-plugin-container {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: 0;
  margin-left: 50%;
  -webkit-transform: translateX(-50%)!important;
  transform: translateX(-50%)!important;
}

@media screen and (min-width: 768px) {
  .dtable-plugin.calendar-plugin-container {
    max-width: 1100px;
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
  }
}

.dtable-plugin.calendar-plugin-container .modal-content {
  height: 100%;
  border: 0;
  border-radius: 0;
}

.dtable-plugin.calendar-plugin-container .calendar-plugin-header {
  font-size: 24px;
}

.dtable-plugin.calendar-plugin-container .calendar-plugin-content {
  height: 100%;
  padding: 0;
  overflow: auto;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.calendar-plugin-container .plugin-header {
  align-items: center;
  padding: 0 1rem;
  border-radius: 0;
}

@media screen and (min-width: 768px) {
  .dtable-plugin.calendar-plugin-container .modal-content {
    border: 1px solid #0003;
    border-radius: 3px;
  }

  .calendar-plugin-container .plugin-header {
    border-radius: 3px 3px 0 0;
  }
}

.calendar-plugin-container .modal-title {
  display: flex;
  flex: 1;
  height: 100%;
  width: 100%;
}

.calendar-plugin-container .logo-title {
  width: calc(180px - 1rem);
  padding: 10px 0;
}

.calendar-plugin-container .views-tabs {
  flex: 1;
  font-size: 14px;
  font-weight: 500;
  overflow: hidden;
}

.calendar-plugin-container .views-tabs-scroll {
  overflow-x: scroll;
  overflow-y: hidden;
}

.calendar-plugin-container .views-tabs-scroll::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.calendar-plugin-container .views-tabs .views {
  height: 100%;
}

.calendar-plugin-container .view-item {
  height: 100%;
  padding: 0 16px;
  flex: 1 0 auto;
  -webkit-user-select: none;
  user-select: none;
  cursor: grab;
  position: relative;
}

.calendar-plugin-container .view-item-can-drop-before::before,
.calendar-plugin-container .view-item-can-drop-after::after {
  content: '';
  border: 1px solid #555;
  border-radius: 1px;
  position: absolute;
  top: 4px;
  bottom: 4px;
}

.calendar-plugin-container .view-item-can-drop-before::before {
  left: 0;
}

.calendar-plugin-container .view-item-can-drop-after::after {
  right: -2px;
}

.calendar-plugin-container .view-item .view-item-content {
  width: 100%;
  height: 100%;
  border-bottom: 2px solid transparent;
  color: #999;
}

.calendar-plugin-container .view-item .view-item-content:hover {
  border-color: #ff8000;
  color: #444;
  cursor: pointer;
}

.calendar-plugin-container .view-item.active .view-item-content {
  border-color: #ff8000;
  color: #444;
  cursor: default;
}

.calendar-plugin-container .btn-view-dropdown {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  margin-right: -5px;
  line-height: 20px;
  cursor: pointer;
}

.calendar-plugin-container .btn-view-dropdown .dtable-icon-drop-down {
  display: inline-block;
  height: 18px;
  font-size: 12px;
  color: #949494;
  transform: scale(.8);
  transition: all .1s;
}

.calendar-plugin-container .btn-view-dropdown:hover .dtable-icon-drop-down {
  color: #aaa;
}

.calendar-plugin-container .btn-add-view {
  width: 24px;
  height: 100%;
}

.calendar-plugin-container .views-scroll-control {
  display: flex;
  align-items: center;
  padding: 0 .25rem;
}

.calendar-plugin-container .scroll-control-btn {
  cursor: default;
}

.calendar-plugin-container .scroll-control-btn:first-child {
  margin-right: .1rem;
}

.calendar-plugin-container .scroll-active {
  cursor: pointer;
}

.calendar-plugin-container .btn-scroll-icon {
  color: #c2c2c2;
  font-size: 12px;
  line-height: 24px;
}

.calendar-plugin-container .scroll-active .btn-scroll-icon {
  color: #8c8c8c;
}

.calendar-plugin-container .scroll-active:hover .btn-scroll-icon {
  color: #000;
  opacity: .75;
}

.calendar-plugin-container .btn-add-view .dtable-icon-add-table {
  height: 24px;
  width: 24px;
  text-align: center;
  cursor: pointer;
  color: #000;
  opacity: .5;
  font-weight: 500;
  line-height: 24px;
}

.calendar-plugin-container .btn-add-view .dtable-icon-add-table:hover {
  opacity: .75;
}

.plugin-calendar-operators {
  margin-left: 80px;
}

.plugin-calendar-mobile .modal-title {
  justify-content: space-between;
}

.plugin-calendar-mobile .plugin-calendar-operators {
  margin-left: 0;
}

.calendar-plugin-container .op-icon {
  height: 24px;
  width: 24px;
  text-align: center;
  cursor: pointer;
  color: #000;
  opacity: .5;
  font-weight: 700;
}

.calendar-plugin-container .op-icon:hover {
  opacity: .75;
}
