@charset "UTF-8";
.rbc-btn {
  color: inherit;
  font: inherit;
  margin: 0;
}

button.rbc-btn {
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled].rbc-btn {
  cursor: not-allowed;
}

button.rbc-input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.rbc-calendar {
  box-sizing: border-box;
  padding-top: 18px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #ffffff;
}

.rbc-calendar *,
.rbc-calendar *:before,
.rbc-calendar *:after {
  box-sizing: inherit;
}

.rbc-abs-full,
.rbc-row-bg {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.rbc-ellipsis,
.rbc-event-label,
.rbc-row-segment .rbc-event-content,
.rbc-show-more {
  display: block;
  height: 18px;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rbc-rtl {
  direction: rtl;
}

.rbc-off-range {
  color: #999999;
}

.rbc-header {
  overflow: hidden;
  flex: 1 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 3px;
  text-align: left;
  vertical-align: middle;
  font-weight: 400;
  font-size: 14px;
  min-height: 0;
  border-bottom: 1px solid #ddd;
}

.rbc-rtl .rbc-header + .rbc-header {
  border-left-width: 0;
  border-right: 1px solid #ddd;
}

.rbc-header > a,
.rbc-header > a:active,
.rbc-header > a:visited {
  color: inherit;
  text-decoration: none;
}

.rbc-row-content {
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  z-index: 4;
}

.rbc-toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 18px 10px;
  font-size: 16px;
}

.rbc-toolbar .rbc-toolbar-label {
  padding: 0 10px;
  text-align: center;
  font-size: 18px;
}

.rbc-toolbar button {
  color: #373a3c;
  display: inline-block;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  background: none;
  background-image: none;
  border: 1px solid #ccc;
  padding: 0.375rem 1rem;
  border-radius: 4px;
  line-height: normal;
  white-space: nowrap;
}

.rbc-toolbar button:active,
.rbc-toolbar button.rbc-active {
  background-image: none;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  background-color: #e6e6e6;
  border-color: #adadad;
}

.rbc-toolbar button:active:hover,
.rbc-toolbar button:active:focus,
.rbc-toolbar button.rbc-active:hover,
.rbc-toolbar button.rbc-active:focus {
  color: #373a3c;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}

.rbc-toolbar button:focus {
  color: #373a3c;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.rbc-toolbar button:hover {
  color: #373a3c;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.rbc-btn-group .rbc-tool-btn {
  height: 26px;
  padding: 0 6px;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
  line-height: 24px;
  cursor: pointer;
  background-color: #fff;
  vertical-align: middle;
  margin-right: 5px;
  margin-left: 5px;
  border: 1px solid #dbdbdb;
  color: rgb(77, 77, 77);
}

.rbc-btn-group .rbc-tool-btn:hover,
.rbc-btn-group .rbc-tool-btn.today-btn-disabled {
  background-color: #ff8000;
  border: 1px solid #ff8000;
  color: #ffffff;
}

.rbc-btn-group .rbc-tool-btn.today-btn-disabled {
  opacity: 0.4;
  cursor: default;
}

.rbc-btn-group {
  flex: 1;
}

.rbc-btn-group.view-type {
  display: flex;
  justify-content: flex-end;
}

.rbc-btn-group .rbc-tool-icon {
  cursor: pointer;
  color: rgb(77, 77, 77);
  vertical-align: middle;
  display: inline-block;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  background-color: #fff;
  border-bottom: 1px solid #dbdbdb;
  border-top: 1px solid #dbdbdb;
}

.rbc-tool-icon-group {
  position: relative;
  display: inline-block;
}

.rbc-tool-icon-group .rbc-split-line {
  content: '';
  position: absolute;
  top: 1px;
  left: 50%;
  margin-left: -1px;
  width: 1px;
  height: 26px;
  background: #dbdbdb;
}

.rbc-tool-icon-group .rbc-tool-icon:first-child {
  border-left: 1px solid #dbdbdb;
  border-radius: 3px 0 0 3px;
}

.rbc-tool-icon-group .rbc-tool-icon:last-child {
  border-right: 1px solid #dbdbdb;
  border-radius: 0 3px 3px 0;
}

.rbc-btn-group .rbc-tool-icon i {
  display: inline-block;
  transform: scale(0.7);
}

.rbc-btn-group .rbc-tool-icon:hover {
  background-color: #ff8000;
  color: #ffffff;
}

.rbc-btn-group .view-type-list {
  display: inline-flex;
  height: 26px;
  padding: 1px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #dbdbdb;
}

.rbc-btn-group .view-type-list .rbc-view-type {
  flex: 1;
  padding: 0 12px;
  border-radius: 5px;
  background: transparent;
}

.rbc-btn-group .view-type-list .rbc-view-type:hover {
  color: #999;
  cursor: pointer;
}

.rbc-btn-group .view-type-list .rbc-view-type.rbc-active {
  color: #fff;
  background: #ff8000;
}

.rbc-btn-group .view-type-list .rbc-view-type.rbc-active:hover {
  color: #fff;
  cursor: default;
}

.rbc-btn-group * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.rbc-calendar .empty-date-tips {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #949494;
}

.rbc-event {
  border: none;
  box-sizing: border-box;
  box-shadow: none;
  margin: 0;
  padding: 2px 5px;
  border-radius: 3px;
  color: #000;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.rbc-slot-selecting .rbc-event {
  cursor: inherit;
  pointer-events: none;
}

.rbc-event-label {
  font-size: 80%;
}

.rbc-event-overlaps {
  box-shadow: -1px 1px 5px 0 rgba(51, 51, 51, 0.5);
}

.rbc-event-continues-prior {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.rbc-event-continues-earlier {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.rbc-event-continues-later {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.rbc-row {
  display: flex;
  flex-direction: row;
}

.rbc-row-segment {
  padding: 0 3px 3px;
}

.rbc-selected-cell {
  background-color: rgba(0, 0, 0, 0.1);
}

.rbc-show-more {
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 4;
  font-size: 85%;
  height: auto;
  line-height: normal;
}

.rbc-year-view {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  width: 100%;
  padding: 0 18px;
  user-select: none;
  -webkit-user-select: none;
  overflow-y: auto;
}

.rbc-month-view {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.rbc-month-header {
  display: flex;
  flex-direction: row;
  padding: 0 18px;
  margin-right: 15px;
}

.rbc-month-rows {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0 18px;
  overflow-y: scroll;
}

.rbc-month-row {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1 0 0;
  flex-basis: 0;
  overflow: hidden;
  height: 126px;
  min-height: 126px;
  max-height: 126px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

/* for exported month in which there are 6 weeks */
.rbc-month-view-exported .rbc-month-rows-6weeks .rbc-month-row {
  height: 105px;
  min-height: 105px;
  max-height: 105px;
}
@media print {
  .rbc-month-view-exported {
    font-family: Arial, Helvetica, sans-serif, fangsong;
    page-break-inside: avoid; /* for old browsers */
    page-break-after: always; /* for old browsers */
    break-inside: avoid;
    break-after: page;
  }
  @page {
    size: landscape;
  }
}

.rbc-date-cell {
  position: relative;
  display: inline-flex;
  flex: 1 1 0;
  min-width: 0;
  padding: 2px 3px 3px;
  font-size: 12px;
  text-align: left;
}

.rbc-date-cell:hover .calendar-insert-row-btn {
  display: flex;
}

.rbc-date-cell .rbc-date-context {
  display: inline-block;
  min-width: 20px;
  height: 18px;
  line-height: 18px;
  padding: 0 2px;
  border-radius: 2px;
  text-align: center;
}

.rbc-now .rbc-date-context {
  background-color: #ff8000;
  color: #ffffff;
}

.rbc-date-cell .calendar-insert-row-btn {
  display: none;
  position: absolute;
  top: 2px;
  right: 3px;
  width: 16px;
  height: 16px;
  padding: 0 3px;
  border-radius: 2px;
  align-items: center;
  justify-content: center;
}

.rbc-date-cell .calendar-insert-row-btn:hover {
  cursor: pointer;
  background-color: #e9e9e9;
}

.rbc-date-cell .calendar-insert-row-btn .dtable-icon-add-table {
  display: inline-block;
  font-size: 12px;
  -webkit-transform: scale(.7);
  transform: scale(.7);
  font-weight: 600;
  color: #333;
}

.rbc-row-bg {
  display: flex;
  flex-direction: row;
  flex: 1 0 0;
  overflow: hidden;
}

.rbc-day-bg {
  flex: 1 0 0;
}

.rbc-day-bg + .rbc-day-bg {
  border-left: 1px solid #ddd;
}

.rbc-rtl .rbc-day-bg + .rbc-day-bg {
  border-left-width: 0;
  border-right: 1px solid #ddd;
}

.rbc-overlay {
  position: fixed;
  width: 200px;
  padding-bottom: 12px;
  background-color: #fff;
  box-shadow: 0 0 5px #ccc;
  border: 1px solid rgba(0, 40, 100, 0.12);
  border-radius: 3px;
  z-index: 5;
  overflow: hidden;
}

.rbc-overlay .rbc-overlay-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 26px;
  padding: 0 6px;
  background: #f5f5f5;
}

.rbc-overlay .rbc-overlay-header .close {
  font-size: 1.2rem;
  line-height: normal;
}

.rbc-overlay .rbc-overlay-body {
  min-height: 132px;
  padding: 31px 12px 0;
  overflow-y: auto;
  max-height: 260px;
}

.rbc-overlay .rbc-event {
  margin-bottom: .5rem;
}

.rbc-overlay .rbc-event:last-child {
  margin-bottom: 0;
}

.rbc-overlay .rbc-event-content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rbc-agenda-view {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  overflow: auto;
}

.rbc-agenda-view table.rbc-agenda-table {
  width: 100%;
  border: 1px solid #ddd;
  border-spacing: 0;
  border-collapse: collapse;
}

.rbc-agenda-view table.rbc-agenda-table tbody > tr > td {
  padding: 5px 10px;
  vertical-align: top;
}

.rbc-agenda-view table.rbc-agenda-table .rbc-agenda-time-cell {
  padding-left: 15px;
  padding-right: 15px;
  text-transform: lowercase;
}

.rbc-agenda-view table.rbc-agenda-table tbody > tr > td + td {
  border-left: 1px solid #ddd;
}

.rbc-rtl .rbc-agenda-view table.rbc-agenda-table tbody > tr > td + td {
  border-left-width: 0;
  border-right: 1px solid #ddd;
}

.rbc-agenda-view table.rbc-agenda-table tbody > tr + tr {
  border-top: 1px solid #ddd;
}

.rbc-agenda-view table.rbc-agenda-table thead > tr > th {
  padding: 3px 5px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.rbc-rtl .rbc-agenda-view table.rbc-agenda-table thead > tr > th {
  text-align: right;
}

.rbc-agenda-time-cell {
  text-transform: lowercase;
}

.rbc-agenda-time-cell .rbc-continues-after:after {
  content: " »";
}

.rbc-agenda-time-cell .rbc-continues-prior:before {
  content: "« ";
}

.rbc-agenda-date-cell,
.rbc-agenda-time-cell {
  white-space: nowrap;
}

.rbc-agenda-event-cell {
  width: 100%;
}

.rbc-time-column {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.rbc-time-column .rbc-timeslot-group {
  flex: 1;
}

.rbc-timeslot-group {
  border-bottom: 1px solid #ddd;
  min-height: 40px;
  display: flex;
  flex-flow: column nowrap;
}

.rbc-time-gutter,
.rbc-header-gutter {
  flex: none;
}

.rbc-label {
  padding: 0 5px;
}

.rbc-day-slot {
  position: relative;
}

.rbc-day-slot .rbc-events-container {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  margin-right: 10px;
  top: 0;
}

.rbc-day-slot .rbc-events-container.rbc-rtl {
  left: 10px;
  right: 0;
}

.rbc-day-slot .rbc-event {
  border: 1px solid #265985;
  display: flex;
  max-height: 100%;
  min-height: 20px;
  flex-flow: column wrap;
  align-items: flex-start;
  overflow: hidden;
  position: absolute;
}

.rbc-day-slot .rbc-event-label {
  flex: none;
  padding-right: 5px;
  width: auto;
}

.rbc-day-slot .rbc-event-content {
  width: 100%;
  flex: 1 1 0;
  word-wrap: break-word;
  line-height: 1;
  height: 100%;
  min-height: 1em;
}

.rbc-day-slot .rbc-time-slot {
  border-top: 1px solid #f7f7f7;
}

.rbc-time-view-resources .rbc-time-gutter,
.rbc-time-view-resources .rbc-time-header-gutter {
  position: sticky;
  left: 0;
  background-color: white;
  border-right: 1px solid #ddd;
  z-index: 10;
  margin-right: -1px;
}

.rbc-time-view-resources .rbc-time-header {
  overflow: hidden;
}

.rbc-time-view-resources .rbc-time-header-content {
  min-width: auto;
  flex: 1 0 0;
  flex-basis: 0;
}

.rbc-time-view-resources .rbc-time-header-cell-single-day {
  display: none;
}

.rbc-time-view-resources .rbc-day-slot {
  min-width: 140px;
}

.rbc-time-view-resources .rbc-header,
.rbc-time-view-resources .rbc-day-bg {
  width: 140px;
  flex: 1 1 0;
  flex-basis: 0px;
}

.rbc-time-header-content + .rbc-time-header-content {
  margin-left: -1px;
}

.rbc-time-slot {
  flex: 1 0 0;
}

.rbc-time-slot.rbc-now {
  font-weight: bold;
}

.rbc-day-header {
  text-align: center;
}

.rbc-slot-selection {
  z-index: 10;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 75%;
  width: 100%;
  padding: 3px;
}

.rbc-slot-selecting {
  cursor: move;
}

.rbc-time-view {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  border: 1px solid #ddd;
  min-height: 0;
}

.rbc-time-view .rbc-time-gutter {
  white-space: nowrap;
}

.rbc-time-view .rbc-allday-cell {
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  position: relative;
}

.rbc-time-view .rbc-allday-cell + .rbc-allday-cell {
  border-left: 1px solid #ddd;
}

.rbc-time-view .rbc-allday-events {
  position: relative;
  z-index: 4;
}

.rbc-time-view .rbc-row {
  box-sizing: border-box;
  min-height: 20px;
}

.rbc-time-header {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
}

.rbc-time-header.rbc-overflowing {
  border-right: 1px solid #ddd;
}

.rbc-rtl .rbc-time-header.rbc-overflowing {
  border-right-width: 0;
  border-left: 1px solid #ddd;
}

.rbc-time-header > .rbc-row:first-child {
  border-bottom: 1px solid #ddd;
}

.rbc-time-header > .rbc-row.rbc-row-resource {
  border-bottom: 1px solid #ddd;
}

.rbc-time-header-cell-single-day {
  display: none;
}

.rbc-time-header-content {
  flex: 1;
  display: flex;
  min-width: 0;
  flex-direction: column;
  border-left: 1px solid #ddd;
}

.rbc-rtl .rbc-time-header-content {
  border-left-width: 0;
  border-right: 1px solid #ddd;
}

.rbc-time-header-content > .rbc-row.rbc-row-resource {
  border-bottom: 1px solid #ddd;
  flex-shrink: 0;
}

.rbc-time-content {
  display: flex;
  flex: 1 0 0;
  align-items: flex-start;
  width: 100%;
  border-top: 2px solid #ddd;
  overflow-y: auto;
  position: relative;
}

.rbc-time-content > .rbc-time-gutter {
  flex: none;
}

.rbc-time-content > * + * > * {
  border-left: 1px solid #ddd;
}

.rbc-rtl .rbc-time-content > * + * > * {
  border-left-width: 0;
  border-right: 1px solid #ddd;
}

.rbc-time-content > .rbc-day-slot {
  width: 100%;
  user-select: none;
  -webkit-user-select: none;
}

.rbc-current-time-indicator {
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #74ad31;
  pointer-events: none;
}

.rbc-link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline;
  margin: 0;
  padding: 0;
  color: #666;
}

.rbc-link-button:hover,
.rbc-link-button:focus {
  text-decoration: underline;
  outline: none;
}

.calendar-select-options-container {
  padding: 5px 15px 15px 15px;
}

.calendar-column-select-description {
  padding: 0 15px 15px 15px;
  color: #495057;
}

.calendar-selection-title {
  font-size: 14px;
  font-weight: 500;
  padding: 15px 15px 0 15px;
}

.calendar-view-header {
  font-weight: bold;
  font-size: 14px;
}

/* year */
.rbc-year-view {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.rbc-year-view .rbc-year-month-view {
  flex-shrink: 0;
  height: 204px;
  width: 240px;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
}

.rbc-year-view .rbc-month-row {
  height: 24px;
  min-height: 24px;
  border: 0;
}

.rbc-year-view .rbc-year-month-header {
  padding-left: 10px;
  color: #ff8000;
}

.rbc-year-view .rbc-header {
  border-bottom: 0;
  text-align: center;
  color: #585858;
}

.rbc-year-view .rbc-year-day-container {
  display: inline-flex;
  position: relative;
  justify-content: space-between;
  flex: 1 0 0;
  flex-basis: 0;
}

.rbc-year-view .rbc-year-day-item {
  width: 34px;
  padding: 0 6px;
  position: relative;
}

.rbc-year-view .rbc-year-day-content {
  width: 24px;
  height: 24px;
  padding: 3px;
}

.rbc-year-view .rbc-year-day-content:hover {
  cursor: pointer;
}

.rbc-year-view .rbc-year-day {
  height: 18px;
  width: 18px;
  font-size: 12px;
  text-align: center;
  line-height: 18px;
}

.rbc-year-view .rbc-current {
  border-radius: 2px;
  background-color: #ff8000;
  color: #ffffff;
}

.rbc-year-view .day-events {
  position: absolute;
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background-color: #ff8000;
  top: 22px;
  left: 16px;
}

.rbc-festival {
  flex: 1;
  padding-left: 4px;
  padding-right: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.rbc-festival-context {
  position: relative;
  padding-left: 8px;
  color: #F25041;
}

.rbc-festival-context::after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -2px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #F25041;
}
