.plugin-view-setting {
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  box-shadow: 0 10px 10px 3px rgba(0, 0, 0, 0.2);
  overflow: auto;
  background: #fff;
}

.plugin-view-setting .setting-header-container {
  border-bottom: 1px solid #e2e2e2;
  padding: 10px 0;
  margin: 0 20px;
}

.plugin-view-setting .btn-close {
  margin-right: -4px;
}

.plugin-view-setting .setting-body {
  padding: 14px 20px;
  font-size: .875rem;
}

.plugin-view-setting .setting-item {
  margin-bottom: 14px;
}

.plugin-view-setting .setting-item .title {
  margin-bottom: 10px;
}

.calendar-view-setting-selector__menu .header-icon,
.plugin-view-setting .header-icon {
  display: inline-block;
  padding: 0 0.3125rem;
  margin-left: -0.3125rem;
}

.calendar-view-setting-selector__menu .header-icon .dtable-font,
.plugin-view-setting .header-icon .dtable-font {
  font-size: 14px;
  color: #aaa;
  cursor: pointer;
}

.plugin-view-setting .null-option-name,
.calendar-view-setting-selector__menu .null-option-name {
  color: rgba(0, 0, 0, .25) !important;
}

.plugin-view-setting .setting-body .split-line {
  margin-bottom: 14px;
  border-bottom: 1px solid #ddd;
}

/* column manager */
.column-setting-item {
  position: relative;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  display: flex;
  padding: 0 10px;
  border-radius: 4px;
}

.column-setting-item:hover {
  background: #f0f0f0;
}

.column-setting-item.column-can-drop {
  background: #e9e9e9;
}

.column-setting-item .drag-column-handle {
  color: #c2c2c2;
  font-size: 14px;
  cursor: grab;
}

.column-setting-item .column-switch {
  flex: 1;
  display: flex;
  padding-left: 10px;
  cursor: pointer;
}

.column-setting-item .column-switch .custom-switch {
  width: 100%;
  justify-content: space-between;
  cursor: pointer;
}

.column-setting-item .custom-switch .custom-switch-description {
  width: 165px;
  margin: 0;
  padding-right: 5px;
}

.column-setting-item .custom-switch .dtable-font {
  -webkit-transform: scale(.8);
  transform: scale(.8);
  display: inline-block;
  line-height: 24px;
  margin-right: 8px;
  color: #666;
}

.column-setting-item .custom-switch .custom-switch-indicator {
  width: 22px;
  height: 12px;
  border-radius: 6px;
}

.column-setting-item .custom-switch .custom-switch-input:checked~.custom-switch-indicator:before {
  left: 12px;
}

.column-setting-item .custom-switch .custom-switch-indicator:before {
  height: 8px;
  width: 8px;
}
